*{
    box-sizing: border-box;
}

body{
  margin: 0;
}

.parent{
    background-color: #23424A;
    padding: 50px;
    margin: 0 auto;
width: 80%;
/* width: 800px; */
}

.child{
    background-color: #38cfd9;
    height: 250px;
}